{% extends 'base.html' %}

{% block title %}Lista de Livros{% endblock %}

{% block content %}
<h2>📖 Livros Cadastrados</h2>

{% if books %}
    <ul>
        {% for book in books %}
            <li>
                <strong>{{ book.title }}</strong> - {{ book.author }} ({{ book.year }})  
                {% if book.read %}
                <br>
                {% if book.cover_url %}
                    <img src="{{ book.cover_url }}" alt="Capa do livro" style="width:100px;">
                {% else %}
                    <p>Capa não disponível.</p>
                {% endif %}
                <p>{{ book.description }}</p> <!-- Exibir descrição -->
                    ✅ <em>Já lido</em>
                {% else %}
                    ❌ <em>Não lido</em>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Nenhum livro cadastrado ainda.</p>
{% endif %}

<a href="{{ url_for('add_book') }}">➕ Adicionar um novo livro</a>
{% endblock %}
